$Google-Blue: #4285f4;
$Google-Green: #0f9d58;
$Google-Red: #db4437;
$Google-Yellow: #f4b400;

$Google-Black: #333333;
$Google-Dark-Grey: #808080;
$Google-White: #ffffff;
$Google-Light-Grey: #e6e6e6;
$Google-Lightest-Grey: #f2f2f2;
